#page_wrapper
  #profile_image
    = image_tag "profile.jpeg"
  #content
    %h1 I'm Duy. It's pronounced U-E.
    %p This is one of 9 apps I'm building this quarter for TCSS 498, Direct Readings. Woohoo!
